@font-face {
  font-family: SinkinSans;
  src: url(../fonts/SinkinSans-400Regular.otf);
}

@font-face {
  font-family: junction;
  src: url(../fonts/Junction-regular.otf);
}

body {
  line-height: 2rem;
  font-family: SinkinSans;
  color: #444444;
  font-size: 12px;
  background: #F8F8F8;
}

p {
  font-family: SinkinSans;
  font-size: 12px;
  color: #444444;
}

h1,
h2,
h3 {
  margin-bottom: 0;
  font-family: junction;
}

a {
  text-decoration: none;
  color: black;

  &:visited,
  &:active {
    text-decoration: none;
    color: black;
  }

  &:hover {
    text-decoration: none;
  }
}

.index-slide {
  background: rgba(0, 0, 0, 0.5);
}

#home-section .home-inner {
  padding-top: 0px;
}

.dark-overlay {
  height: 100vh;
  min-width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0396533613) 31%, rgba(0, 0, 0, 0.9556197479) 100%);
}

.dark-overlay-box {
  height: 66vh;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: background 1s;

  &:hover {
    background: none;

    /*
    transform: scale(0.8);
    */
  }
}

.carousel-item-slider {
  height: 100vh;
}

.carousel-image-1 {
  background: url('../img/wed1.jpg');
  background-position: 70%;
  background-size: cover;
}

.carousel-image-2 {
  background: url('../img/fam1.jpg');
  background-position: top;
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/baby1.jpg');
  background-position: 20%;
  background-size: cover;
}

.boxOne,
.boxTwo,
.boxThree,
.boxFour {
  height: 66vh;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 0;
  transition: transform 0.5s;
}

.boxOne:hover,
.boxTwo:hover,
.boxThree:hover,
.boxFour:hover {
  transform: scale(0.95);
}

.boxOne {
  background-image: url('../img/child4.jpg');
}

.boxTwo {
  background-image: url('../img/wed3.jpg');
}

.boxThree {
  background-image: url('../img/fam3.jpg');
}

.boxFour {
  background-image: url('../img/baby1.jpg');
}

.carousel {
  .item {
    color: #999;
    overflow: hidden;
    min-height: 160px;
    font-size: 16px;
  }

  .media {
    position: relative;
    padding: 40px 20px 20px 20px;

    img {
      width: 75px;
      height: 75px;
      display: block;
      border-radius: 50%;
    }
  }

  .testimonial-wrapper {
    padding: 0 10px;
    margin: 30px 0;
  }

  .testimonial {
    color: #808080;
    position: relative;
    padding: 25px;
    background: #f1f1f1;
    border: 1px solid #efefef;
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: 14px;

    &::after {
      content: "";
      width: 15px;
      height: 15px;
      display: block;
      background: #f1f1f1;
      border: 1px solid #efefef;
      border-width: 0 0 1px 1px;
      position: absolute;
      bottom: -8px;
      left: 46px;
      transform: rotateZ(-46deg);
    }
  }

  .star-rating {
    li {
      padding: 0 2px;
    }

    i {
      font-size: 16px;
      color: #ffdc12;
    }
  }

  .overview {
    padding: 3px 0 0 15px;

    .details {
      padding: 5px 0 8px;
    }

    b {
      text-transform: uppercase;
      color: #000;
    }
  }
}

.carousel-indicators-testimonials {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;
  background: #F1F1F1;
  border-radius: 3px;

  li {
    background-color: #000;
  }
}

.testimonialsSection {
  margin-bottom: 200px;
}


footer {
  list-style-type: none;
  color: #7F7F7F;

  .footer-contact p {
    color: #7F7F7F;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  h3 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    color: #7F7F7F;
  }

  .footer-ul {
    list-style-type: none;
    margin-top: 1rem;

    li {
      list-style-type: none;
      color: #7F7F7F;
    }
  }

  .sitemap a {
    color: #7F7F7F;
    text-decoration: underline;
   

    &:visited,
    &:active {
      color: #7F7F7F;
      text-decoration: underline;
    }
  }

  .soc-media{
    margin-top: 1rem;
  }

}

/*
.main-boxes a {
  color: #7F7F7F;

  &:visited,
  &:active {
    color: #7F7F7F;
  }
}
*/


.fab {
  margin: 0 2px;
}

.soc-media a {
  color: #fff;

  &:visited,
  &:active {
    color: #fff;
  }
}



/* PRICES PAGE */

#prices {
  color: white;
}

.package-item {
  min-height: 600px;
  background: #CECECE;
  color: white;
  height: 100%;
}

.package-item-1 {
  background: (center / cover) no-repeat url('../img/fam1.jpg');
}

.package-item-2 {
  background: (center / cover) no-repeat url('../img/child2.jpg');
}

.package-overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.package-overlay2 {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 600px;
}

/* CONTACT PAGE */

#contact {
  background: (center / cover) no-repeat url('../img/fam1.jpg');
  min-height: 700px;

  h1 {
    color: white;
  }
}

h2 {
  color: white;
}

#contact {
  .contact-overlay {
    background: rgba(0, 0, 0, 0.4);
    min-height: 700px;
  }

  .contact-wrapper {
    height: 100vh;
  }

  .contact-details {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .contact-btn {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    animation: contact-animation 7s infinite;
    transition-timing-function: ease-in-out;
    font-weight: 700;
    height: 125px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 16px;
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);

    &:visited,
    &:active {
      text-decoration: none;
      color: white;
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    &:hover {
      text-decoration: none;
      color: black;
      background: rgba(255, 255, 255, 0.8);
    }
  }

  .contact-row {
    height: 100%;
  }
}

@keyframes contact-animation {
  0% {
    border: 5px solid #9e3d64;
    color: #fff;
    background: rgba(158, 61, 100, 0.5);
  }

  25% {
    border: 5px solid #f6db5f;
    color: #fff;
    background: rgba(246, 219, 95, 0.5);
  }

  50% {
    border: 5px solid #36abb5;
    color: #fff;
    background: rgba(54, 171, 181, 0.5);
  }

  75% {
    border: 5px solid #d4af37;
    color: #fff;
    background: rgba(212, 175, 55, 0.5);
  }

  100% {
    border: 5px solid #fe5e51;
    color: #fff;
    background: rgba(254, 94, 81, 0.5);
  }
}

.modal-body {
  font-size: 12px;
}



#gallery h1,
h2,
h3 {
  color: #444444;
}

nav {
  .nav-link a {
    display: flex;
    justify-content: center;
  }

  svg {
    color: white;
    padding-right: 20px;
    fill: #7f7f7f;
  }


  .nav-social {
    padding-left: 7px;
    line-height: 0;

    a {
      color: #7F7F7F;

    }
  }
}

#mapid {
  height: 200px;
  width: 80%;
  margin: auto;
}


.packages-prices-row{
  color: #FFF;


  h1, h2, h3 {
    color: #FFF;
  }

  p {
    color: #FFF;
  }
}

@media (min-width: 576px) {
  .package-item-image1 {
    background: (center / cover) no-repeat url('../img/fam1.jpg');
  }

  .package-item-image2 {
    background: (center / cover) no-repeat url('../img/child2.jpg');
  }

  .package-item-1,
  .package-item-2 {
    background: #FFF;
    color: #444444;
  }

  .package-overlay{
    background: #FFF;
    color: #444444;
  }

  .package-overlay2{
    background: #FFF;
    color: #444444;
  }

  .packages-prices-row{
    color: #444;
  
  
    h1, h2, h3 {
      color: #444;
    }
  
    p {
      color: #444;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #mapid {
    height: 300px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #mapid {
    height: 400px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #mapid {
    height: 500px;
  }
}








.pricing {



   .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    min-height: 480px;
  }

   hr {
    margin: 1.5rem 0;
  }

   .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
    min-height: 34px;
  }


   .card-price .period {
    font-size: 0.8rem;
  }


  .text-muted {
    opacity: 0.7;
  }

   .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
}

